/*Start of CSS file*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
    text-decoration: none;


}

/*Header class which has all of the functionality*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 7%;
}

/*Logo of the page*/
.logo img {
    max-width: 100%;
    width: 70px;
    height: auto;
}

.navbar {
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: #161616;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 20px;
}

.navbar a::after {
    content: '';
    position:absolute;
    width: 0%;
    height: 2px;
    background: #ef0454;
    left: 0;
    bottom: -4px;
    transition: ease 0.42s; 
}

.navbar a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 30px;
    color: #161616;
    cursor: pointer;
    z-index: 10001;
    display: initial;
}

/*the button class which covers the download cv button*/
.btn {
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    font-weight: bolder;
    height: 60px;
    line-height: 60px;
    background: #ef0454;
    color: #fff;
    border-radius: 15px;
    padding: 0 38px;
    text-transform: uppercase;
    transition: all 0.34s;
}

/*the button hovers which covers the download cv button*/
.btn:hover {
    opacity: 0.8;
    transform: translateY(-10px);
}

/*has all the info on the screen such as name, content*/
section {
    padding: 0 16%;
}

.container {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: (1, 1fr);
    align-items: center;

}

.text {
    padding-top: 70px;
}

.text .slide {
    margin-bottom: 20px;
}

.text .one {
    height: 40px;
    padding: 0px 15px;
    line-height: 40px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    background: #ffbb01;
    color: #fff;
    display: inline-block;
    margin-right: 22px;
}

.text .two {
    font-size: 24px;
    color: #161616;
    display: inline-block;
    font-weight: 500;
}

.text h1 {
    font-size: 100px;
    font-weight: 700;
    color: #161616;
    line-height: 0.9;
    margin: 0 0 8px;
}

.text h3 {
    font-size: 20px;
    font-weight: 700;
    color: #161616;
    line-height: 1;
    margin: 0 0 8px;
}

span {
    color: #ca0a37;
}

.text p {
    color:#161616;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn2 {
    font-size: 14px;
    font-weight: 600;
    color:#161616;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.btn2 span i {
    height: 70px;
    width: 70px;
    background: rgb(239, 237, 237);
    color:#0d0c0c;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0px 10px 8px rgb(3 12 29 / 8%);
    margin-right: 20px;
    transition: ease 0.30s;
}

.btn2 span i:hover {
    background: #ef0454;
    color: #fff;
    /*transform: translateY(-10px);*/
    transform: translateX(+10px);
}

/*social media icons*/
.social {
    position:absolute;
    top: 50%;
    padding: 0 7%;
    transform: translateY(-10px);
}

/*social media icons settings*/
.social ul li {
    margin: 20px 0;
}

.social ul li i {
    font-size: 22px;
    color: #161616;
    transition: all 0.30s;
}

.social ul li i:hover {
    transform: translateY(-5px);
    color: #ef0454;
}

/*make the screen look same everytime*/
@media(max-width: 1080px) {
    header {
        padding: 18px 2%;
        transition: 0.2s;
    }
    section {
        padding: 0 2%;
        transition: 0.2s;
    }
    #menu-icon {
        display: initial;
    }
    .social {
        display: none;
    }
    .text h1 {
        font-size: 78px;
        transition: 0.2s;
    }
    .text h2 {
        font-size: 58px;
        transition: 0.2s;
    }
    .text p {
        font-size: 15px;
        transition: 0.2s;
    }
    .btn {
        height: 50px;
        line-height: 50px;
        padding: 0 28px;
    }
}
